.company-form
  .form-header
    %pРедактировать компанию
  .form-body
    = simple_form_for @company do |f|
      - if @company.errors.any?
        #error_explanation
          %h2= "#{pluralize(@company.errors.count, "error")} prohibited this agreement from being saved:"
          %ul
            - @company.errors.full_messages.each do |msg|
              %li= msg
      .field
        = f.label 'Укажите название'
        = f.text_field :name
      .actions
        = f.submit 'Сохранить'