%h1
  Список объектов:
  = @addresses.count
  объекта

.addresses-container
  = search_form_for @q do |f|
    = f.label :street_cont
    = f.select :street_cont, options_from_collection_for_select(Address.all, 'street', 'street'), {}, {class: 'select-address'}
    = f.submit
  %table
    %thead
      %tr
        %thУлица
        %thГород
        %thДоговор
        %th
        %th
        %th

    %tbody
      - @addresses.limit(50).each do |address|
        %tr
          %td= address.street
          %td= address.city
          %td= address.agreement.number
          %td= link_to 'Show', address
          %td= link_to 'Edit', edit_address_path(address)
          %td= link_to 'Destroy', address, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Address', new_address_path