.addresses-container
  .addresses-header
    %h1
      Все обьекты:
      = @addresses.count
    %p(class="create-link")Добавить объект
  .search-form
    = search_form_for @q do |f|
      = f.select :street_cont, options_from_collection_for_select(Address.all, 'street', 'street'), {}, {class: 'select-address'}
  %table
    %thead
      %tr
        %thГород
        %thУлица
        %thНомер договора
        %th(colspan="3")

    %tbody
      - @addresses.order('id desc').limit(50).each do |address|
        %tr
          %td= address.city
          %td= address.street
          %td= address.agreement.number
          %td(class="action")= link_to raw('<i class="fa fa-folder-open" aria-hidden="true"></i>'), address
          %td(class="action")= link_to raw('<i class="fa fa-cog" aria-hidden="true"></i>'), edit_address_path(address)
          %td(class="action")= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i>'), address, :method => :delete, :data => { :confirm => 'Are you sure?' }
.address-form-overlay(class="animated")
.address-form-wrapper(class="animated")
  = render 'addresses/form'