%h1
  Список договоров:
  = @agreements.count

%table
  %thead
    %tr
      %th Number
      %th Company
      %th
      %th
      %th

  %tbody
    - @agreements.limit(50).each do |agreement|
      %tr
        %td= agreement.number
        %td= agreement.company.name
        %td= link_to 'Show', agreement
        %td= link_to 'Edit', edit_agreement_path(agreement)
        %td= link_to 'Destroy', agreement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Agreement', new_agreement_path
