!!!
%html
  %head
    %title KobraClients
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .main-container
      - if current_user
        .main-nav
          .user-info
            %p(class="user-avatar")
              = current_user.surname[0,1] + current_user.name[0,1]
            %p(class="user-name")
              = current_user.name
              %br
              = current_user.surname
          .menu-container
            .nav
              = link_to raw('<i class="fa fa-building" aria-hidden="true"></i>Компании'), companies_path
              = link_to raw('<i class="fa fa-book" aria-hidden="true"></i>Договора'), agreements_path
              = link_to raw('<i class="fa fa-briefcase" aria-hidden="true"></i>Объекты'), addresses_path
              = link_to(raw('<i class="fa fa-sign-out" aria-hidden="true"></i>Выйти'), destroy_user_session_path, :method => :delete)
      .main-content
        = yield
